<section id="address">
    <div class="page-width">
        <div class="google-map">
            <iframe src="{{ section.settings.iframe-link }}"></iframe>
        </div>
        <div class="contact-address">
            {% for block in section.blocks  %}
                {% if block.settings.contact-label != blank %}
                <label>
                    {{ block.settings.contact-label }}
                </label>
                {% endif %}

                {% if block.settings.contact-source != blank %}
                    {{ block.settings.contact-source }}
                {% endif %}
            {% endfor %}
        </div>
    </div>   
</section>

{% schema %}
{
  "name": "Contact Address",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slideshow"
    }
  ],

  "blocks": [
     {
       "name": "Contact Address",
       "type": "slide",
       "settings": [
         {
           "type": "url",
           "id": "iframe-link",
           "label": "Iframe Link"
         },
         {
            "type": "richtext",
            "id": "contact-label",
            "label": "Contact Label"
         },
         {
            "type": "richtext",
            "id": "contact-source",
            "label": "Contact Source"
         }
       ]
     }
  ],
  "presets": [
    {
      "name": "Contact Address",
      "settings": {
        "title": "Contact Address"
      },
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
